@page
@model IdentityProvider.Pages.MfaRegistration.IndexModel
@{
}

<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h3></h3>
                    <h6 class="card-subtitle">Quét mã QR bằng ứng dụng Authenticator</h6>
                </div>
                <div class="col-12">
                    <form asp-page="/MfaRegistration/Index" method="post">
                        <input type="hidden" asp-for="Input.Secret"/>
                        <div class="form-group">
                            <div id="qrCode"></div>
                            <div id="qrKeyUri">@Model.View.KeyUri</div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-block btn-success" type="submit">Hoàn thành</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/qrcode.min.js"></script>
    <script src="~/js/qrcodeHelpers.js"></script>
}
