@page
@model IdentityProvider.Pages.User.ForgotPasswordConfirmation.IndexModel
@{
}

<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="alert alert-success">
        <h4 class="text-success"><i class="fa fa-check-circle mr-2"></i>ĐẶT LẠI MẬT KHẨU</h4>
        <p>Vui lòng kiểm tra email của bạn và làm theo hướng dẫn để đặt lại mật khẩu.</p>
    </div>
</div>

