@page
@model IdentityProvider.Pages.User.ActivationCodeSent.IndexModel
@{
}

<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="alert alert-success">
        <h4 class="text-success"><i class="fa fa-check-circle mr-2"></i>ĐĂNG KÝ TÀI KHOẢN THÀNH CÔNG</h4>
        <p>Bạn đã đăng ký tài khoản thành công. Kiểm tra email để kích hoạt tài khoản của bạn.</p>
    </div>
</div>