@page
@model IdentityProvider.Pages.User.Activation.IndexModel
@{
}

<div class="alert alert-success d-flex justify-content-center align-items-center mt-5">
    <h5>@Html.Raw(Model.Input.Message)</h5>
</div>
